.rmdnote, .rmdimportant, .rmdobservation {
  padding: 1em 1em 1em 4em;
  margin-bottom: 10px;
  background: #ffe5cc 5px center/3em no-repeat;
}
.rmdnote {
  background-image: url("images/icone_nota.png");
}
.rmdimportant {
  background-image: url("images/icone_importante.png");
}
.rmdobservation {
  background-image: url("images/icone_observacao.png");
}

p {
  text-align: justify;
}

.book .book-summary ul.summary li a:hover, .book .book-summary ul.summary li.active > a {
    color: #000000;
    background: 0 0;
    text-decoration: none;
    background-color: #FFAF24;
}

.book .book-summary ul.summary li a:hover {
    background-color: #aaaaaa;
    color: #000000;
}

p.caption {
  color: #777;
  margin-top: 10px;
}
p code {
  white-space: inherit;
}
pre {
  word-break: normal;
  word-wrap: normal;
}
pre code {
  white-space: inherit;
}
.book .book-header h1 {
  opacity: 1;
  text-align: center;
}

#header .title {
  margin-bottom: 0em;
}
#header h4.author {
  margin: 0;
  color: #666;
}
#header h4.author em {
  font-style: normal;
}